<footer class="section is-primary is-small has-text-centered darkBackground">
  <div class="container is-narrow">
    <div class="columns is-centered"> 
      <div class="column is-one-third">
        <p class="title is-size-4-touch brand-secondary-light">Hacking sustainable solutions with technology for the underserved</p>
      </div>
    </div>
    <div class="social-icons" style='padding:1%;'>
      <a classhref="https://www.linkedin.com/in/hope-tambala/">
        <fa-icon [icon]="faLinkedin" size="4x"></fa-icon>
      </a>
      <a href="https://github.com/hopetambala">
        <fa-icon [icon]="faGithub" size="4x"></fa-icon>
      </a>
      <a href="https://www.facebook.com/Tamballer">
        <fa-icon [icon]="faFacebook" size="4x"></fa-icon>
      </a>
    </div>
    <p class="copyright">Designed and Developed by Hope Tambala</p>
    <!--div class="made-by-bulma"><a href="https://bulma.io"><img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="163" height="31"></a></div-->
  </div>
</footer>