<nav class="cd-vertical-nav">
  <ul>
    <li (click)="scroll(intro)"><a href="#intro"><span class="label">Intro</span></a></li>
    <li (click)="scroll(problem)"><a href="#problem"><span class="label">Problem</span></a></li>
    <li (click)="scroll(explore)"><a href="#explore"><span class="label">Expore</span></a></li>
    <li (click)="scroll(focus)"><a href="#focus"><span class="label">Focus</span></a></li>
    <li (click)="scroll(prototype)"><a href="#prototype"><span class="label">Prototype</span></a></li>
    <li (click)="scroll(takeaways)"><a href="#takeaways"><span class="label">Takeaways</span></a></li>
  </ul>
</nav><!-- .cd-vertical-nav -->
<section #intro class="hero is-info cd-section background">
  <div class="hero-body">

    <div class="columns level" style='padding-left:5%;'>
      <div class="column">
        <h1 class="title">
          Project Collaboration Tool
        </h1>
        <h2 class="subtitle">
          A project creation application to encourage collaboration on community development challenges
        </h2>
        <p class="is-text-secondary-light">
          <strong>UX Designer</strong>
        </p>
      </div>
      <div class="column">
          <img  src="assets/portfolio/pcollaboration/Goals_macbookgold_front.png" style="padding-top:-10%">
      </div>
    </div>

  </div>
  
</section>


<section #problem class="section cd-section">
  <div class="container">
    <h1 class="title">Framing the Problem</h1>
    <h2 class="subtitle">
      Competitive Analysis
    </h2>
    <h2 class="subtitle">
      Data Analysis
    </h2>
  </div>
</section>


<section #explore class="section cd-section">
  <div class="container">
    <h1 class="title">Explore Options</h1>
    <h2 class="subtitle">
      Brainstorming
    </h2>
    <h2 class="subtitle">
      Sketching
    </h2>
  </div>
</section>

<section #focus class="section cd-section">
  <div class="container">
    <h1 class="title">Home in on one</h1>
    <h2 class="subtitle">
      Scenarios
    </h2>
    <h2 class="subtitle">
      Storyboards
    </h2>
  </div>
</section>

<section #prototype class="section cd-section">
  <div class="container">
    <h1 class="title">Finalize and share</h1>
    <h2 class="subtitle">
      Paper prototypes
    </h2>
    <h2 class="subtitle">
      Sketch prototye
    </h2>
  </div>
</section>

<section #takeaways class="section cd-section">
  <div class="container">
    <h1 class="title">Key Takeaways</h1>
    <h2 class="subtitle">
      Number 1
    </h2>
  </div>
</section>

