<nav class="cd-vertical-nav">
  <ul>
    <li (click)="scroll(intro)"><a href="#intro"><span class="label">Intro</span></a></li>
    <li (click)="scroll(problem)"><a href="#problem"><span class="label">Problem</span></a></li>
    <li (click)="scroll(explore)"><a href="#explore"><span class="label">Expore</span></a></li>
    <li (click)="scroll(focus)"><a href="#focus"><span class="label">Focus</span></a></li>
    <li (click)="scroll(prototype)"><a href="#prototype"><span class="label">Prototype</span></a></li>
    <li (click)="scroll(takeaways)"><a href="#takeaways"><span class="label">Takeaways</span></a></li>
  </ul>
</nav><!-- .cd-vertical-nav -->
<section #intro class="hero is-info cd-section">
  <div class="hero-body">

    <div class="columns level" style='padding-left:5%;'>
      <div class="column">
        <h1 class="title">
          Project Collaboration Tool
        </h1>
        <h2 class="subtitle">
          A project creation application to encourage collaboration on community development challenges
        </h2>
        <p class="is-text-secondary-light">
          <strong>UX Designer</strong>
        </p>
      </div>
      <div class="column">
        <app-slideshow [items]='photos' [height]="'400px'"></app-slideshow>
      </div>
    </div>

  </div>
  
</section>


<section #problem class="section cd-section columns is-centered is-multiline">

    <h1 class="title is-full column" style="text-align: center; ">Framing the Problem</h1>
    <!--Problem Statement-->
    <p class="column is-full"style="font-size: 100%; font-weight: bold; color: white">There are a variety of foreign development organizations that work in the 
      international development space in a certain capacity. There are Service-Education organization that develop educational summer programs that bring students from the US to do service projects in Latin-American and Caribbean communities. There are foundations that conduct medical missions by surveying the medical problems of a community for a week or two searching for patients, and then treat those patients with pharmaceuticals, medical procedures, or surgeries. And there are a variety of development organizations that work in grassroots (bottom-up) development such as Peace Corps or bureaucratic (top-down) development such as United States Agency for International Development (USAID). 
      
      <br><br>These organizations address international development and humanitarian efforts in a variety of ways but could be more efficient. We’re designing a platform to facilitate easier collaboration amongst these organizations. </p>
</section>

<section class="section cd-section columns" style="background-color:#10212F;">
  
  <div class="column">
    <h3 class="subtitle">CHALLENGE</h3>
    <p>Project Collaboration for Nonprofits is Hard</p>
    <p style="font-size:100%;">Nonprofit resources aren’t being used efficiently due to less collaboration. This makes it so that people who are in need don’t get help.</p>
  </div>
  <div class="column ">
    <h3 class="subtitle">SOLUTION</h3>
    <p>A collaborative platform designed for humanitarian work</p>
    <p style="font-size:100%;">I designed a platform to facilitate the creation of a project collaboratively, making it easier to work on the same project amongst multiple organizations.</p>
  </div>
  <div class="column level-item">
    <h3 class="subtitle">SCOPE</h3>
    <p style="font-size:125%;">
      Brand System
    </p>
    <p style="font-size:125%;">
      Interaction Design
    </p>

  </div>

</section>
<section #competitiveAnalysis class="columns cd-section is-vcentered" style="margin-bottom:-12px">
  <!--Competitive analysis-->
  <div class="column is-half" style="margin-left:10%">
      <h1 class="title">
        Competitive Analysis
      </h1>
      <p style="font-size: 100%; font-weight: bold; color: white">
        Here's a screenshot of a competitive analysis I had done to see which collaboration tools were the best on the market. I chose Slack and Trello to analyze their features and see if there was something missing in both. I also analyzed some nonprofit groups to see where how a nonprofit collaboration tool would compare to normal nonprofit processes.
      </p>
    </div>
    <div class="column collaboration">
        <img src='assets/portfolio/pcollaboration/2_competitive_analysis.png'>
    </div>
</section>

<section #exploreOptions class="columns cd-section is-vcentered" style="margin-bottom:-12px">
    <div class="column collaboration">
        <img src='assets/portfolio/pcollaboration/3_sketches.png'>
    </div>
    <div class="column is-half" style="margin-left:10%">
        <h1 class="title">
          Explore Options
        </h1>
        <p style="font-size: 100%; color: white">
            The 8 idea sketches provided me with an opportunity to examine multiple collaboration and productivity ideas and the 8 workflows forced me to work through these ideas to see why they worked and how they could inform my design.<br> Initial sketches focused on beating existing tech and nonprofit solutions on the market based on the competitive analysis done, but  I quickly found to be an arduous task to accomplish.         </p>
      </div>
      <!--div class="column" style='transform: scale(.7);padding: 0%'>
          <app-slideshow [items]='sketches' [height]="'800px'"></app-slideshow>
      </div-->
      
  </section>


<section #define class="section cd-section ">
    <div class="columns is-multiline is-centered">
      <h1 class="title column is-full" style="text-align: center;">Define</h1>
      <p class="column is-full ">Collaborative project creation and management for nonprofits requires 3 user types: Program Managers, Community Client-Partners, and Researchers.</p>
    </div>
</section>

<section #personas class="columns cd-section is-centered is-multiline" style="margin-bottom:-12px">
    <!--Competitive analysis-->
    <div class="column is-full" style="text-align: center;">
        <h2 class="subtitle">
            Personas
        </h2>
      </div>
      <div class="column is-one-third">
        <img src='assets/portfolio/pcollaboration/4_personas/pro_devPrac.png'>
      </div>
      <div class="column is-one-third">
        <img src='assets/portfolio/pcollaboration/4_personas/pro_local.png'>
      </div>
      <div class="column is-one-third">
        <img src='assets/portfolio/pcollaboration/4_personas/pro_researcher.png'>
      </div>
</section>
<section #focus class="section cd-section" style="height:inherit">
  <div>
    <div class='columns level' style="width: 105%">
      <div>
        <h2 class="subtitle">
            Storyboards
        </h2>
        <p style="font-size: 150%; font-weight: bold; color: white">After I constructed my personas, I created a storyboard of how each persona would interact with my product! Even the anti-persona developed had a role.</p>
      </div>
      <div class="column" style='transform: scale(1);padding: 0%'>
        <img src='assets/portfolio/pcollaboration/5_storymapping.png'>
      </div>
    </div>
  </div>
</section>

<section #prototype class="section cd-section is-small">
  <div class="container">

  
  <h1 class="title" style="text-align: center;">Finalize and share</h1>
  <div class='box column level' style="background: #D41C20">
    <a href="https://photos.app.goo.gl/JgTF9YKPu88YSFAp9" target=''>
    <div class="is-full">
      <h2 class="subtitle">
          Paper prototype 1
      </h2>
      <p>
        Here's a video of me (attempting) to describe my design in less than 5 minutes. 
      </p>
    </div>
    </a>
  </div>

  <div class='box column level' style="background: #D41C20">
    <a href="https://photos.app.goo.gl/dyVaaQQzEL8YGJuo7" target=''>
    <div>
      <h2 class="subtitle">
          Paper prototype 2
      </h2>
      <p>
        Here's a video of me (attempting) to describe my design in less than 2 minutes! Long story short, it's hard!
      </p>
    </div>
    </a>
  </div>

  <div class='box column level' style="background: #D41C20">
    <a href="https://sketch.cloud/s/AJ82y/ygLKZaq/play" target=''>
    <div>
      <h2 class="subtitle">
        Sketch prototype
      </h2>
      <p>
        Here's the final design!
      </p>
    </div>
    </a>
  </div>
</div>
</section>

<section #takeaways class="section cd-section">
  <div class="container">
    <h1 class="title" style="text-align: center;">Key Takeaways</h1>
    <div class="columns level">
      <h2 class="subtitle column" style="width:200px">
        Designing for nonprofit work is very different than designing for for-profit ventures
      </h2>
      <p style="font-size: 100%; font-weight: bold; color: white">One big misconception was to “beat” what the other nonprofit (and tech) solutions on the market were doing which actually impeded how I should design the project. By focusing on all the features other competitors had, I quickly realized that I would be just designing a “better” version of something that already exists and that doesn’t teach me anything. By throwing out the concept that I had to focus on software features and the “what”, I decided to focus on the “why”. Why did people like Slack and Trello and how can I transform that experience to accomplish goals within international development.</p> 
    </div>
    
    <div class="columns level">
      <h2 class="subtitle column" style="width:200px">
        Focus on one great feature and iterate
      </h2>
      <p style="font-size: 100%; font-weight: bold; color: white">One big change I had to make was where to limit the program/project creation tool. The United Nations provided a framework for what our goals should be, which targets to hit within that goal, and how to measure progress to prove that work was done within our goals/targets. They don’t provide a framework to manage on-the-ground operations. Through personal experience and user research, I quickly realized that there ere way too many variables regarding management on the ground. With so many development strategies regarded as the “right” way to do development, I removed a feature that allowed you to manage the program after project creation, focusing on providing a framework to manage only the creation of projects. I also quickly realized that designing any sort of in-house chat room made less sense now. With chat solutions so plentiful, it made no sense to add another interface for people to have to check.</p>
    </div>

    <div class="columns level">
        <h2 class="subtitle column" style="width:200px">
          Relax
        </h2>
        <p style="font-size: 100%; font-weight: bold; color: white">Along every step of the way, I was always trying to find that idea that <strong>clicked</strong> and would solve all the pain-points I discovered in international civic tech. Not only was what ridiculous, it hindered me from thinking outside the box sometimes! This is something I'm beginning to realize as the software developer part of me is learning to accept the design process!</p>
      </div>
  </div>
</section>

