<nav class="cd-vertical-nav" [ngsRevealSet]="{ reset: false }" [ngsSelector]="'.column'">
  <ul>
    <li (click)="scroll(intro)"><a href="#intro"><span class="label">Intro</span></a></li>
    <li (click)="scroll(problem)"><a href="#problem"><span class="label">Problem</span></a></li>
    <li (click)="scroll(define)"><a href="#define"><span class="label">Define</span></a></li>
    <li (click)="scroll(takeaways)"><a href="#takeaways"><span class="label">Takeaways</span></a></li>
  </ul>
</nav><!-- .cd-vertical-nav -->
<section #intro class="hero is-info cd-section background" style="height:inherit">
  <div class="hero-body">

    <div class="columns level" style='padding-left:5%;'>
      <div class="column">
        <h1 class="title" style="color:#10212F">
            User Experience Consulting for Entrepreneurs
        </h1>
        <h2 class="subtitle">
            Teaching design thinking through workshops and case studies
        </h2>
        <p class="is-text-secondary-light">
          <strong>UX Researcher + UX Strategist</strong>
        </p>
      </div>
      <div class="column">
        <img src='assets/portfolio/umsi-consulting/design.gif' style="background: url('assets/portfolio/umsi-consulting/design.gif');">
      </div>
    </div>

  </div>
  
</section>

<section #problem class="section cd-section columns is-centered is-multiline" >
    <h1 class="title is-full column" style="text-align: center; ">Framing the Problem</h1>
    <p class="column is-full"style="font-size: 100%; font-weight: bold; color: white">Hired as a UX Consultant for the Office of Professional and Client Engagement at the University of Michigan, I was tasked with understanding how to present design thinking to entrepreneurs and entrepreneurial students.
      <br><br>The immediate challenge we ran into was "How do we prove that conscientious design thinking has a measurable business impact?" 
      <br><br>We started digging around conducting user interviews with entrepreneurs, designers, seasoned business professionals, and students to find out what sort of material would resonate.</p>
</section>

<section class="section cd-section columns" style="background-color:#10212F;margin-bottom: 0%;">
  <div class="column">
    <h3 class="subtitle">CHALLENGE</h3>
    <p>Entrepreneurs need to think about design</p>
    <p style="font-size:100%;">Design isn't limited to aesthetics. A product regardless of the industry requires rigourous user-centric design</p>
  </div>
  <div class="column ">
    <h3 class="subtitle">SOLUTION</h3>
    <p>Provide a series of consulting workshops to leverage design thinking to maximize product impact </p>
    <p style="font-size:100%;">I've consulted with established entrepreneurs, business school administrators, and design professionals to provide workshops to package the design process in a digestible manner</p>
  </div>
  <div class="column level-item">
    <h3 class="subtitle">SCOPE</h3>
    <p style="font-size:125%;">
      UX Research
    </p>
    <p style="font-size:125%;">
      UX Consulting
    </p>
    <p style="font-size:125%;">
      Graphic Design
    </p>

  </div>

</section>

<section #define class="section cd-section ">
  <div class="columns is-multiline is-centered">
    <h1 class="title column is-full" style="text-align: center;">Define</h1>
    <p class="column is-full ">Our workshops required us to develop focused but comprehensive content for an audience of entrepreneurs who were early in their prototypes up to products in their final stages.</p>
    <p class="column is-full ">Delivering design consulting to empower entrepreneurs to discover their own design flaws creates a work culture of sustainable design.</p>
  </div>
</section>

<section #takeaways class="section cd-section">
  <div class="container">
    <h1 class="title" style="text-align: center;">Key Takeaways</h1>
    <div class="columns level">
      <h2 class="subtitle column" style="width:200px">
        Broad consultations for entrepreneurs is difficult.
      </h2>
      <p class="subtitle column" style="font-size: 100%; font-weight: bold; color: white">We have many clients who work with products and with software. Providing a presentation that addressed both was a challenge, but one we were conscious of after a couple sample workshops.</p> 
    </div>
    
    <div class="columns level">
      <h2 class="subtitle column" style="width:200px">
        Case studies are key
      </h2>
      <p class="subtitle column" style="font-size: 100%; font-weight: bold; color: white">In all of our presentations, we make sure to use real-life case studies of work we had done in the past. Being an entrepreneur myself, I was able to tie our design principles with concret examples of products I've designed and software I've developed.</p>
    </div>

    <div class="columns level">
        <h2 class="subtitle column" style="width:200px">
          Have fun
        </h2>
        <p  class="subtitle column" style="font-size: 100%; font-weight: bold; color: white">Designing is a fun process! Being rigorous in our research was important, but when presenting, relax. People want to come away from workshops feeling confident they can incorporate the design process in their workflows. Inundating them with too much information is ineffective.</p>
      </div>
  </div>
</section>

