<nav class="cd-vertical-nav">
  <ul>
    <li (click)="scroll(intro)"><a href="#intro"><span class="label">Intro</span></a></li>
    <!--li (click)="scroll(problem)"><a href="#problem"><span class="label">Problem</span></a></li>
    <li (click)="scroll(explore)"><a href="#explore"><span class="label">Explore</span></a></li-->
    <li (click)="scroll(takeaways)"><a href="#takeaways"><span class="label">Takeaways</span></a></li>
  </ul>
</nav><!-- .cd-vertical-nav -->

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button>
  
<section #intro class="hero is-info background cd-section">
    <div class="hero-body">
  
      <div class="columns level" style='padding-left:5%;'>
        <div class="column">
          <h1 class="title">
            UX-Centered Ridesharing Solutions
          </h1>
          <h2 class="subtitle">
            Providing civic tech research and analytics for Metro Detroit
          </h2>
          <p class="is-text-secondary-light">
            <strong>UX Researcher</strong>
          </p>
        </div>
        <div class="column">
            <!--img  src="assets/portfolio/pcollaboration/Goals_macbookgold_front.png" style="padding-top:-10%"-->
            <app-slideshow [items]='photos' [height]="'500px'"></app-slideshow>
        </div>
      </div>
  
    </div>
    
</section>
  
<section #problem class="section cd-section is-small">
  <div class="container">
    <h1 class="title" style="color:white; text-align: center;">Framing the Problem</h1>

    <!--Problem Statement-->
    <div class="columns level">
        <h1 class="subtitle" style="color:white; margin-right: 10%">Problem Statement</h1>
        <p style="color:white">To address parking challenges during downtown construction, the city of Ferndale is piloting a program to provide rides to downtown. <br> This team will dive into ridesharing data and apply the design process to understand and suggest recommendations for mobility decisions</p>
    </div>
  
     <!--User Research- Asset Based Mapping-->
    <div class='columns level' style="height: inherit;width: 110%">
        <div class="column">
          <h2 class="subtitle" style="color:white">
            User Research Method: <span class="is-text-secondary-light">Asset-Based Mapping</span>
          </h2>
          <p style="font-size: 100%; font-weight: bold; color: white">
            When I was a Peace Corps Volunteer, I often found it important to engage community members (i.e. users) with interactive research methods. Valuable research methods such as asset-based mapping translate in the UX process very well, especially in civic tech. 
          </p>
          <p style="font-size: 100%; font-weight: bold; color: white">
            I had the participants explain to me key assets in their "community." They were first tasked with explaining A) how each asset relates to another asset and B) which assets are directly related to the challenge we're trying to crack! This gave us an opportunity to understand how users talk about their community while being engaged in a unique activity!
          </p>
        </div>
          <div class="column" >
              <img src='assets/portfolio/pcitizen/2_asset_map.jpg'>
          </div>
    </div>
    <!--Competitive analysis-->
    <div class='columns level' style="height: inherit;width: 110%">
        <div class="column">
          <h2 class="subtitle" style="color:white">
            Data Analysis
          </h2>
          <p style="font-size: 100%; font-weight: bold; color: white">
            Here's one of my interactive exploratory analyses of the Ferndale Population based on a Bikesharing survey conducted by the city. This first analysis was instrumental in understanding the user population of the city.
          </p>
          <p style="font-size: 100%; font-weight: bold; color: white">
            The information is presented in 4 dimensions: Salary (X-Axis), Number of People Surveyed (Y-Axis), If they work in Ferndale (Coloring of Bars i.e. Yellow vs Green), and Age (Color gradient within each bar i.e. Light-Green to Dark-Green or Light-Yellow to Dark-Yellow)
          </p>
        </div>
        <a style="width:50%" href="https://public.tableau.com/profile/hope.tambala#!/vizhome/Ferndale/IncomeandWhereTheyWork">
          <div class="column" >
              <img src='assets/portfolio/pcitizen/interactive-chart.png'>
          </div>
        </a>
    </div>
    
  </div>
</section>

<!--
<section #explore class="section cd-section" >
  <div class="container">
    <h1 class="title is-text-secondary-light">Explore Options</h1>
  </div>
</section> -->

<section #takeaways class="section cd-section is-small" style="height:50%">
  <div class="container">
    <div class="columns level" style="color:white;">
        <h1 class="title is-text-secondary" style="color:white">Current Takeaways</h1>
        <div>
          <p style="color:white">Currently conducting data analysis, comparative analyses and focus groups!</p>
          <p style="color:white">Will continue to report findings!</p>
        </div>
    </div> 
  </div>
</section>
