<nav class="cd-vertical-nav">
  <ul>
    <li (click)="scroll(intro)"><a href="#intro"><span class="label">Intro</span></a></li>
    <li (click)="scroll(problem)"><a href="#problem"><span class="label">Problem</span></a></li>
    <li (click)="scroll(explore)"><a href="#explore"><span class="label">Explore</span></a></li>
    <li (click)="scroll(takeaways)"><a href="#takeaways"><span class="label">Takeaways</span></a></li>
  </ul>
</nav><!-- .cd-vertical-nav -->

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button>
  
<section #intro class="hero is-info background cd-section">
    <div class="hero-body">
  
      <div class="columns level" style='padding-left:5%;'>
        <div class="column">
          <h1 class="title">
            UX-Centered Ridesharing Solutions
          </h1>
          <h2 class="subtitle">
            Providing civic tech research and analytics for Metro Detroit
          </h2>
          <p class="is-text-secondary-light">
            <strong>UX Researcher</strong>
          </p>
        </div>
        <div class="column">
            <img  src="assets/portfolio/pcollaboration/Goals_macbookgold_front.png" style="padding-top:-10%">
        </div>
      </div>
  
    </div>
    
</section>
  
<section #problem class="section cd-section">
  <div class="container">
    <h1 class="title">Framing the Problem</h1>
    <div>
      <h2 class="subtitle">
        Comparative Analysis
      </h2>
    </div>

    <div>
      <h2 class="subtitle">
        Data Analysis
      </h2>
    </div>
    
    <div>
      <h2 class="subtitle">
        Focus Groups
      </h2>
    </div>
    
  </div>
</section>

<section #explore class="section cd-section" >
  <div class="container">
    <h1 class="title is-text-secondary-light">Explore Options</h1>
  </div>
</section>

<section #takeaways class="section cd-section" >
  <div class="container">
    <h1 class="title is-text-secondary">Current Takeaways</h1>
  </div>
</section>
