@import '../../../styles.scss';


h1{
    color: $brand-primary-light;
    //color:white;
    font-weight: 900;
}
h2{
    //color: $brand-secondary-light;
    color:white;
}

.is-primary{
    background: $brand-secondary-light;
}

.text-primary{
    color: $brand-primary;
}

.header-sub{
    color: $brand-secondary-light;
}

.is-long{
    padding-bottom: 14em;
}

.skills{
    margin-top: -15%;
}

.projects{
    margin-top: -7.5%;
}

ul {
    list-style-type: none;
    text-align: center;
    width:auto
  }
.is-skill-icon{
    height:48px;width:auto
}

.section.skills .box .content .columns .column p.list-title {
    margin-top: 50px;
    margin-bottom: 8px;
}
