<section id ='header' class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
            <h3 id='zip' class="title is-size-2-tablet is-size-3-mobile is-size-1-desktop" style="color:white;">Designing &amp; engineering <u id='zip3'>UX-centered</u> products</h3>
            <h4 id='zip2' class="header-sub is-size-4-desktop">UX Designer + Engineer</h4>
            <!--img class="avatar" src="img/mf-avatar.svg"-->
          </div>
          <figure class="column is-one-third">
            <img class="image" src="assets/style-sheet.png">
          </figure>
        </div>
      </div>
    </div>
    <!--div class="hero-foot">
      <div class="container"><img class="is-bottom" src="assets/icons/hero/comp.png"></div>
    </div-->
</section>

<section id='skills_header+about' class="section is-medium is-primary has-text-centered is-long" style="">
    <div class="container">
        <div class="columns is-centered">
        <div class="column is-three-fifths">
            <h1 id='zip4' class="title is-spaced is-size-3-desktop is-size-4-mobile" style='color: white;'>Hello! My name is Hope Tambala</h1>
            <h2 class="subtitle is-size-5-desktop">Motivated by my work as a Peace Corps Volunteer, I’ve been able to combine my passion for understanding underserved communities and their needs with a technical skillset to address those problems. From being a Software Developer at Puente, an International Development nonprofit, to studying UX Research and Design at the University of Michigan, I’m continually learning how to deliver digital products that benefit the greater good. </h2>
        </div>
        </div>
    </div>
</section>


<section id='skills' class="section skills has-text-centered">
    <div class="container is-narrow">
        <div class="box">
        <div class="content">
            <div class="columns" [ngsRevealSet]="{ reset: false }" [ngsSelector]="'.column'">
                <div class="column" style="display: inline-block;text-align: center">
                    <figure class="image"><img class="is-skill-icon" src="assets/icons/ux-design.png"></figure>
                    <h1 class="title is-size-4 is-spaced">UX Designer</h1>
                    <p>I enjoy conducting usability interviews and creating personas to understand my users and their pain points</p>
                    <p class="list-title text-primary has-text-weight-normal">Things I enjoy researching</p>
                    <p>UX, UI, Web, Mobile, Apps, Data Visualization</p>
                    <p class="list-title text-primary has-text-weight-normal" >UX Tools</p>
                    <ul style="margin:0">
                        <li>Balsamiq Mockups</li>
                        <li>Framer X</li>
                        <li>Sketch</li>
                        <li>Adobe Illustrator &amp; Photoshop</li>
                        <li>Surveys &amp; Interviews</li>
                        <li>Sticky Notes</li>
                        <li>Usability Tests &amp; Heuristic Evaluations </li>
                    </ul>
                </div>
                <div class="column" style="display: inline-block;text-align: center">
                    <figure class="image"><img class="is-skill-icon" src="assets/icons/web_mobile.png"></figure>
                    <h1 class="title is-size-4 is-spaced">Developer and Data Consultant</h1>
                    <p>I develop UX-centered mobile, web application, data visualization, and AI-powered solutions using web technologies</p>
                    <p class="list-title text-primary has-text-weight-normal">Frameworks and Languages I've used</p>
                    <p>React/Redux, Ionic/Angular, Pandas + Sklearn + Flask/Falcon/Django</p>
                    <p class="list-title text-primary has-text-weight-normal">Dev Tools</p>
                    <ul style="margin:0">
                        <li>Visual Studio Code</li>
                        <li>Heroku</li>
                        <li>Bootstrap, Semantic UI, Bulma</li>
                        <li>Github</li>
                        <li>Terminal</li>
                    </ul>
                </div>
                <div class="column"> 
                    <figure class="image"><img class="is-skill-icon" src="assets/icons/consultant.png"></figure>
                    <h1 class="title is-size-4 is-spaced">Community Development Consultant</h1>
                    <p>I've lived in developing communities and provide insights on how IT can enable stronger sustainable international development</p>
                    <p class="list-title text-primary has-text-weight-normal">Where I've Worked</p>
                    <p>Peace Corps Dominican Republic, Puente</p>
                    <p class="list-title text-primary has-text-weight-normal">Qualifications</p>
                    <ul style="margin:0">
                        <li>3 years experience</li>
                        <li>Needs-Assesment and Project Creation</li>
                        <li>Technical Field Training and Implementation</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<section id='projects_header' class="section is-medium is-primary has-text-centered is-long-ish">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile" style='color: white;'>Projects</h1>
                <h2 class="subtitle is-size-5-desktop">Being a user experience designer and software developer, I’ve been able to directly interact with the users whose digital experiences I’m developing. From researching community pain-points searching for participatory sustainable solutions that technology can address to designing user-validated interfaces, I'm equipped to tackle challenges in innovative ways.</h2>
                <h2 class="subtitle is-size-5-desktop">Seeing UX research translate into software development grants me a unique perspective that informs my work.</h2>
            </div>
        </div>
    </div>
</section>

<section id ='projects' class="section projects has-text-centered">
    <div class="container is-narrow">
        <div class="startup-grid">
            <div class="columns is-centered level" id='portfolio'>
                <!--Entrepreurship Consulting-->
                <div class="column level-item development design research">
                    <a href='/consulting'>
                        <div class="box"><img class="logo" src="assets/logo/opce.jpg">
                            <a class="text-primary" href='/consulting' target="iOS"><p>UX Consulting for Entrepreneurs</p></a>
                            <p class="is-spaced">Providing UX consulting on entrepreneurial ventures</p>
                            <p style='padding-bottom: 5%'>Role: UX Researcher, UX Designer</p>
                        </div>
                    </a>
                </div>
                <!--Puente Collaboration Dashboard-->
                <div class="column level-item development design research">
                    <a href='/collaboration'>
                        <div class="box"><img class="logo" src="assets/logo/pcollab.png">
                            <a class="text-primary" href='/collaboration' target="iOS"><p>Project Collaboration Tool</p></a>
                            <p class="is-spaced">A project creation application to encourage collaboration on community development challenges</p>
                            <p style='padding-bottom: 5%'>Role: UX Designer</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="columns is-centered level" id='portfolio'>
                <!--Puente Mobile app-->
                <div class="column level-item development design research">
                    <a href="/puenteApp" target="Web">
                        <div class="box"><img class="logo" src="assets/logo/puente-datacollection.png">
                            <a class="link" href="/puenteApp" target="Web"><p>Mobile Data Collection App</p></a>
                            <p class="is-spaced">A data collection application that automatically geolocates the surveyor. Designed for development practitioner based on my experience as a Peace Corps Volunteer.</p>
                            <p style='padding-bottom: 5%'>Role: UX Designer, Software Engineer</p>
                        </div>
                    </a>
                </div>
                <!--CRViz-->
                <div class="column level-item development design">
                    <a href='/notetaking'>
                        <div class="box"><img class="logo" src="assets/logo/crviz.jpg">
                            <a class="link" href="/notetaking" target="Web"><p>Security Visualization</p></a>
                            <p class="is-spaced">Implementing a notetaking feature in security visualization software</p>
                            <p style='padding-bottom: 5%'>Role: UX Researcher, Software Engineer</p>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="columns is-centered level" id='portfolio'>
                <!--Puente Dashboard app-->
                <div class="column level-item development design">
                    <a href='/puenteDash'>
                        <div class="box"><img class="logo" src="assets/logo/puente-dashboard.png">
                            <p class="link text-primary">Web Data Visualization Application</p>
                            <p class="is-spaced">A dashboard application that is based on information collected in the data collection application. Designed for development practitioners and researchers (In Beta).</p>
                            <p style='padding-bottom: 5%'>Role: UX Designer, Software Engineer</p>
                        </div>
                    </a>
                </div>
                <!--Civic Tech-->
                <div class="column level-item development design">
                    <a href='/citizen'>
                        <div class="box"><img class="logo" src="assets/logo/pcitizen.png">
                            <a class="link" href="/citizen" target="Web"><p>Ridesharing Analytics</p></a>
                            <p class="is-spaced">Researching how to engage Metro Detroit citizens in ride-sharing</p>
                            <p style='padding-bottom: 5%'>Role: UX Researcher, UX Designer</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id='education_header' class="section is-medium has-text-centered is-long-ish" style='padding:5%;'>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Education</h1>
            </div>
        </div>
    </div>
    <div id ='experience' class="section has-text-centered">
        <div class="container is-narrow">
            <div class="startup-grid">
                <div class="columns is-centered level">
                    <!--UX Research & Design-->
                    <div class="column level-item">
                        <div class="box" onClick="window.location='https://www.si.umich.edu/';"><img class="logo" src="assets/logo/umsi.png">
                            <h1 class="title is-size-4">UX Research, Design, and Agile Development</h1>
                            <p class ="is-size-4 is-spaced">Health Informatics Graduate Certification</p>
                            <p class="list-title text-primary has-text-weight-normal" >University of Michigan - School of Information</p>
                            <p>UX Research and Design</p>
                            <p>2018 - 2020</p>
                        </div>
                    </div>
                    <!--UX Chemistry-->
                    <div class="column level-item">
                        <div class="box" onClick="window.location='https://lsa.umich.edu/';"><img class="logo" src="assets/logo/University-of-Michigan-Logo.png">
                            <h1 class="title is-size-4">Chemical Sciences</h1>
                            <p class ="is-size-4 is-spaced">Informatics Focus</p>
                            <p class="list-title text-primary has-text-weight-normal" >University of Michigan - Ann Arbor</p>
                            <p>Chemistry</p>
                            <p>2011 - 2015</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id='experience_header' class="section is-medium has-text-centered is-long-ish" style='padding:5%;'>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Recent Experience</h1>
            </div>
        </div>
    </div>
    <div id ='experience' class="section has-text-centered">
        <div class="container is-narrow">
            <div class="startup-grid">
                <div class="columns is-centered level">
                    <!--Puente-->
                    <div class="column level-item" onClick="window.location='https://puente-dr.com/';">
                        <div class="box"><img class="logo" src="assets/logo/puente.png">
                            <h1 class="title is-size-4 is-spaced">Co-Founder + Lead Developer</h1>
                            <p class="list-title text-primary has-text-weight-normal" href="https://puente-dr.com/">Puente Desarollo Internacional</p>
                            <p>Ionic, Angular, Express/Node, and SQL Development</p>
                            <p>2017 - Present</p>
                        </div>
                    </div>
                    <!--In-Q-Tel-->
                    <div class="column level-item">
                        <div class="box" onClick="window.location='https://www.iqt.org/';"><img class="logo" src="assets/logo/iqt.jpg">
                            <h1 class="title is-size-4">Software Engineer</h1>
                            <p class ="is-size-4 is-spaced">Cyber Reboot Lab</p>
                            <p class="list-title text-primary has-text-weight-normal" >In-Q-Tel</p>
                            <p>Cybersecurity Visualization, React/Redux, Python/Falcon, Docker</p>
                            <p>2019</p>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered level">
                    <!--Data Visualization-->
                    <div class="column level-item">
                        <div class="box" onClick="window.location='https://clarkdatalabs.github.io/';"><img class="logo" src="assets/logo/mlibrary.png" >
                            <h1 class="title is-size-4 is-spaced">Data Visualization Consultant</h1>
                            <p class="list-title text-primary has-text-weight-normal" href="https://www.lib.umich.edu/clark-library">University of Michigan - Ann Arbor</p>
                            <p>d3.js, Bokeh, Leaflet, and other Javascript/Python Visualization Libraries</p>
                            <p>2018 - Present</p>
                        </div>
                    </div>
                    <!--UX Consultant-->
                    <div class="column level-item">
                        <div class="box" onClick="window.location='https://www.si.umich.edu/programs/professional-and-community-engagement';"><img class="logo" src="assets/logo/umsi.png" >
                            <h1 class="title is-size-4 is-spaced">UX Consultant</h1>
                            <p class="list-title text-primary has-text-weight-normal" href="https://www.si.umich.edu/programs/professional-and-community-engagement">University of Michigan - Ann Arbor</p>
                            <p>User Research, User Identification, Sketching, Prototyping, Presenting</p>
                            <p>2019 - Present</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  

