@import '../../../styles.scss';


h1{
    color: $brand-primary-light;
    //color:white;
    font-weight: 900;
}
h2{
    //color: $brand-secondary-light;
    color:white;
}

.is-primary{
    background: $brand-secondary-light;
}

.text-primary{
    color: $brand-primary;
}

.header-sub{
    color: $brand-secondary-light;
}

.is-long{
    padding-bottom: 14em;
}

.skills{
    margin-top: -15%;
}

.projects{
    margin-top: -7.5%;
}

ul {
    list-style-type: none;
    text-align: center;
    width:auto
  }
.is-skill-icon{
    height:48px;width:auto
}

.section.skills .box .content .columns .column p.list-title {
    margin-top: 50px;
    margin-bottom: 8px;
}

.is-spaced{padding:1rem 2rem}

.logo{height:90px;width:auto;margin-bottom:1rem}

//Unused because weird border
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

.transition {
    
    -webkit-transform: scale(1.01); 
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);  

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#zip, #zip2 {
    opacity: 0;
    //font-size: 21px;
    //margin-top: 25px;
    //text-align: center;
}