@import '../../../styles.scss';


h1{
    color: $brand-primary-light;
    //color:white;
    font-weight: 900;
}
h2{
    //color: $brand-secondary-light;
    color:white;
}

.is-primary{
    background: $brand-secondary-light;
}

.is-long{
    padding-bottom: 14em;
}

.skills{
    margin-top: -15%;
}

.projects{
    margin-top: -7.5%;
}
