<section id ='header' class="hero is-white is-large">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 id='zip' class="title  is-size-2-tablet is-size-3-mobile is-size-1-desktop" style="color:white;">Designing &amp; engineering <u id='zip3'>UX-centered</u> products for Mobile and Web Applications</h1>
            <h2 id='zip2' class="header-sub is-size-4-desktop">UX + DataVis Engineer</h2>
            <!--img class="avatar" src="img/mf-avatar.svg"-->
          </div>
        </div>
      </div>
    </div>
    <!--div class="hero-foot">
      <div class="container"><img class="is-bottom" src="assets/icons/hero/comp.png"></div>
    </div-->
</section>

<section id='skills_header+about' class="section is-medium is-primary has-text-centered is-long" style="">
    <div class="container">
        <div class="columns is-centered">
        <div class="column is-three-fifths">
            <h1 id='zip4' class="title is-spaced is-size-3-desktop is-size-4-mobile" style='color: white;'>Hello! My name is Hope Tambala</h1>
            <h2 class="subtitle is-size-5-desktop">Motivated by my work as a Peace Corps Volunteer, I’ve been able to combine my passion for understanding underserved communities and their needs with a technical skillset to address those problems. From being a Application Developer at Puente, an International Development nonprofit, to studying UX Research and Design at the University of Michigan, I’m continually learning how to deliver digital products that benefit the greater good. </h2>
        </div>
        </div>
    </div>
</section>

<section id='skills' class="section skills has-text-centered">
<div class="container is-narrow">
    <div class="box">
    <div class="content">
        <div class="columns">
            <div class="column" style="display: inline-block;text-align: center">
                <figure class="image"><img class="is-skill-icon" src="assets/icons/ux-design.png"></figure>
                <h1 class="title is-size-4 is-spaced">UX + Design Researcher</h1>
                <p>I enjoy conducting usability interviews and creating personas to understand my users and their pain points</p>
                <p class="list-title text-primary has-text-weight-normal">Things I enjoy researching</p>
                <p>UX, UI, Web, Mobile, Apps, Data Visualization</p>
                <p class="list-title text-primary has-text-weight-normal" >UX Tools</p>
                <ul style="margin:0">
                    <li>Sketch</li>
                    <li>Adobe Illustrator &amp; Photoshop</li>
                    <li>Surveys &amp; Interviews</li>
                    <li>Pen &amp; Paper</li>
                    <li>Sticky Notes</li>
                    <li>Paper Prototyping</li>
                    <li>Usability Tests &amp; Heuristic Evaluations </li>
                </ul>
            </div>
            <div class="column" style="display: inline-block;text-align: center">
                <figure class="image"><img class="is-skill-icon" src="assets/icons/web_mobile.png"></figure>
                <h1 class="title is-size-4 is-spaced">Front-End App + DataVis Developer</h1>
                <p>I develop UX-centered mobile, web application, and data visualization solutions using web technologies</p>
                <p class="list-title text-primary has-text-weight-normal">Frameworks and Languages I've used</p>
                <p>HTML/CSS/JS, jQuery, Ionic/Angular, d3.js, Python, Flask, SQL</p>
                <p class="list-title text-primary has-text-weight-normal">Dev Tools</p>
                <ul style="margin:0">
                    <li>Visual Studio Code</li>
                    <li>Heroku</li>
                    <li>Bulma</li>
                    <li>Github</li>
                    <li>Terminal</li>
                </ul>
            </div>
            <div class="column"> 
                <figure class="image"><img class="is-skill-icon" src="assets/icons/consultant.png"></figure>
                <h1 class="title is-size-4 is-spaced">ID Consultant</h1>
                <p>I've lived in developing communities and now provide insights on how information technology enables stronger sustainable interational development</p>
                <p class="list-title text-primary has-text-weight-normal">Where I've Worked</p>
                <p>Peace Corps Dominican Republic, Puente</p>
                <p class="list-title text-primary has-text-weight-normal">Qualifications</p>
                <ul style="margin:0">
                    <li>3 years experience</li>
                    <li>30+ students in Community and Health Development</li>
                    <li>Needs-Assesment and Project Creation</li>
                    <li>Technical Field Training and Implementation</li>
                    <li>184 Hours of Intensive Spanish Training</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
</section>

<section id='experience_header' class="section is-medium has-text-centered is-long-ish" style='padding:5%;'>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Recent Experience</h1>
            </div>
        </div>
    </div>
    <div id ='experience' class="section has-text-centered">
        <div class="container is-narrow">
            <div class="startup-grid">
                <div class="columns is-centered level">
                    <!--Puente-->
                    <div class="column level-item" onClick="window.location='https://puente-dr.com/';">
                        <div class="box"><img class="logo" src="assets/logo/puente.png">
                            <h1 class="title is-size-4 is-spaced">Co-Founder + Web/Application Developer</h1>
                            <p class="list-title text-primary has-text-weight-normal" href="https://puente-dr.com/">Puente Desarollo Internacional</p>
                            <p>Ionic, Angular, Express/Node, and SQL Development</p>
                            <p>2017 - Present</p>
                        </div>
                    </div>
                    <!--Data Visualization-->
                    <div class="column level-item">
                        <div class="box" onClick="window.location='https://clarkdatalabs.github.io/';"><img class="logo" src="assets/logo/mlibrary.png" >
                            <h1 class="title is-size-4 is-spaced">Data Visualization Consultant</h1>
                            <p class="list-title text-primary has-text-weight-normal" href="https://www.lib.umich.edu/clark-library">University of Michigan - Ann Arbor</p>
                            <p>d3.js, Bokeh, Leaflet, and other Javascript/Python Visualization Libraries</p>
                            <p>2018 - Present</p>
                        </div>
                    </div>
                    <!--UX Research and Design-->
                    <div class="column level-item">
                        <div class="box" onClick="window.location='https://www.si.umich.edu/';"><img class="logo" src="assets/logo/umsi.png">
                            <h1 class="title is-size-4">UX Research and Design Graduate Student</h1>
                            <p class ="is-size-4 is-spaced">Health Informatics Graduate Certification</p>
                            <p class="list-title text-primary has-text-weight-normal" >University of Michigan - School of Information</p>
                            <p>UX Research and Design</p>
                            <p>2018 - Present</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id='projects_header' class="section is-medium is-primary has-text-centered is-long-ish">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile" style='color: white;'>Projects</h1>
                <h2 class="subtitle is-size-5-desktop">Being both a researcher and developer, I’ve been able to directly interact with the users whose digital experiences I’m developing. Over the years, I've researched community pain-points searching for participatory sustainable solutions that technology can address. I’ve also developed mobile/web applications to address those problems. </h2>
                <h2 class="subtitle is-size-5-desktop">Seeing research translate into development grants me a unique perspective that informs my work.</h2>
            </div>
        </div>
    </div>
</section>
    
<section id ='projects' class="section projects has-text-centered">
    <div class="container is-narrow">
        <div class="startup-grid">
            <div class="columns is-centered level" id='portfolio'>
                <!--Puente Mobile app-->
                <div class="column level-item development design research">
                    <a href="/puenteApp" target="Web">
                        <div class="box"><img class="logo" src="assets/logo/puente-datacollection.png">
                            <a class="link" href="/puenteApp" target="Web"><p>Mobile Data Collection App</p></a>
                            <p class="is-spaced">A data collection application that automatically geolocates the surveyor. Designed for development practitioner based on my experience as a Peace Corps Volunteer.</p>
                            <p style='padding-bottom: 5%'>Role: UX Designer, Software Developer</p>
                        </div>
                    </a>
                </div>

                <!--Puente Dashboard app-->
                <div class="column level-item development design">
                    <a href='/puenteDash'>
                        <div class="box"><img class="logo" src="assets/logo/puente-dashboard.png">
                            <p class="link text-primary">Web Data Visualization Application</p>
                            <p class="is-spaced">A dashboard application that is based on information collected in the data collection application. Designed for development practitioners and researchers (In Beta).</p>
                            <p style='padding-bottom: 5%'>Role: UX Designer, Software Developer</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="columns is-centered level" id='portfolio'>
                <!--Puente Collaboration Dashboard-->
                <div class="column level-item development design research">
                    <a href='/collaboration'>
                        <div class="box"><img class="logo" src="assets/logo/pcollab.png">
                            <a class="text-primary" href='/collaboration' target="iOS"><p>Project Collaboration Tool</p></a>
                            <p class="is-spaced">A project creation application to encourage collaboration on community development challenges</p>
                            <p style='padding-bottom: 5%'>Role: UX Designer</p>
                        </div>
                    </a>
                </div>

                <!--Civic Tech-->
                <div class="column level-item development design">
                    <a href='/citizen'>
                        <div class="box"><img class="logo" src="assets/logo/pcitizen.png">
                            <a class="link" href="/citizen" target="Web"><p>Ridesharing Analytics</p></a>
                            <p class="is-spaced">Researching how to engage Metro Detroit citizens in ride-sharing</p>
                            <p style='padding-bottom: 5%'>Role: UX Researcher, Designer</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
