<nav class="navbar is-transparent" style="padding:1%">
  <div class='container level'>
      <!--Logo-->
      <div class="navbar-brand" >
        <a href=''>
            <img class="image is-96x96" src="assets/logo/logo.png" alt="Hope Tambala UX+Data">
        </a>
        
      </div>

      <!--Middle of Navbar-->
      <div class="navbar-end" style="margin-top:2%">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="button is-large is-squared" href="#projects">
            <span><p>Recent Work</p></span>
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/collaboration">
              Project Collaboration Tool
            </a>
            <a class="navbar-item" href="/puenteApp">
              Mobile App Development
            </a>
            <a class="navbar-item" href="/citizen">
              Ridesharing Analytics
            </a>
            <a class="navbar-item" href="/puenteDash">
              Web Dashboard Development
            </a>
          </div>
        </div>
      </div>

      <!--End-->
      <div class="navbar-end">
        <div class="navbar-item">
            <a class="button is-large is-squared pulse-button" href="https://drive.google.com/file/d/1BW_WeRe35YZ8GE47hLnEVPoapVz7BW2g/view" target="Resume">
            <!--span class="icon">
              <i class="fas fa-download"></i>
            </span-->
            <span><p>Resume</p></span>
            </a>
        </div>
      </div>
  </div>
</nav>