<nav class="navbar is-transparent">
  <div class='container'>
    <div class="navbar-brand" >
      <a href=''>
          <img class="image is-96x96" src="assets/logo/logo.png" alt="Hope Tambala UX+Data">
      </a>
      
    </div>

      <!--div class="navbar-start">
        <a class="navbar-item" href="https://bulma.io/">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
            Docs
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
              Overview
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
              Modifiers
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
              Columns
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
              Layout
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
              Elements
            </a>
            <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
              Components
            </a>
          </div>
        </div>
      </div-->

      <div class="navbar-end">
        <div class="navbar-item">
            <a class="button is-large is-rounded" href="https://drive.google.com/file/d/129AjKzlBTCm2GmLZk6dLJutNaSfWwJSE/view" target="Resume">
            <!--span class="icon">
              <i class="fas fa-download"></i>
            </span-->
            <span><p>Resume</p></span>
            </a>
        </div>
      </div>
  </div>
</nav>