<section #intro class="hero is-info cd-section background" style="height:inherit">
  <div class="hero-body">
    <div class="columns level is-centered" style='padding-left:5%;'>
      <div class="column">
        <h1 class="title" style="color:#10212F">
          UX Research in Behavior-Change Technology
        </h1>
        <h2 class="subtitle">
            Designing a workout application for busy individuals
        </h2>
        <p class="is-text-secondary-light">
          <strong>UX Researcher + UX Designer</strong>
        </p>
      </div>
      <!-- <div class="column">
        <iframe style="width:500px;height:500px;" src="https://peaceful-hugle-d8c59a.netlify.com/">
          <p>Your browser does not support iframes.</p>
        </iframe>
      </div> -->
      <div class="column is-narrow has-text-centered">
        <a href="https://peaceful-hugle-d8c59a.netlify.com/">
          <img style="width: 50%;" src='assets/portfolio/health-stronger/stronger.png' >
        </a>
        <h6>(Demo Below)</h6>
      </div>
    </div>
  </div>
</section>

<section #problem class="section cd-section columns is-centered is-multiline" >
    <h1 class="subtitle is-full column" style="text-align: center; ">Framing the Problem</h1>
    <p class="column is-full" style="font-size: 100%; font-weight: bold; color: white">There are five things that directly impact a user's willingness to work out: 1) tiredness as a result of no sleep, 2) time of day (is the gym closed/close to closing?), 3) proximity to the gym (or a place to work out), 4) weight gain and visibly seeing poor health and 5) seeing results of a work-out. Interestingly enough, four of these causes happen before a user works out, and one of them occurs after.</p>
    <p class="column is-full" style="font-size: 100%; font-weight: bold; color: white">The Stronger App is designed to address issues with the time of day a user can work out, proximity to the gym (or a place to work out) and seeing results of a work-out.  It's solely designed with the philosophy of "I want to be stronger than I was yesterday." It's geared towards always improving no matter how big or small those improvements are. It incorporates elements of goal planning/setting, work-out reminding, social support, and self-monitoring.</p>
</section>

<section #banner class="section cd-section columns banner is-centered" style="margin-bottom: 0%;">
  <div class="column">
    <h3 class="subtitle">CHALLENGE</h3>
    <p>Professionals are too busy to schedule effective workouts</p>
    <p style="font-size:100%;">There’s a lot that goes into effective workouts and busy users don’t have the time to research and plan the appropriate workouts for themselves.</p>
  </div>
  <div class="column ">
    <h3 class="subtitle">SOLUTION</h3>
    <p>An AI-assisted workout planner</p>
    <p style="font-size:100%;">An AI-assisted application that creates a workout plan based on 1) the busyness of the users schedule, 2) location of the user, 3) and the time of day.</p>
  </div>
  <div class="column level-item">
    <h3 class="subtitle">SCOPE</h3>
    <br>
    <p style="font-size:125%;">
      UX Research
    </p>
    <p style="font-size:125%;">
      UX Design
    </p>
  </div>
</section>

<section #overview class="section cd-section columns is-centered is-multiline" style="margin-bottom:0%">
    <h1 class="subtitle is-full column" style="text-align: center; ">
      Overview and Causal Pathways
    </h1>
    <p class="column is-full" style="font-size: 100%; font-weight: bold; color: white">
      A causal loop diagram is a causal diagram that aids in visualizing how different variables in a system are interrelated. 
    </p>

    <p class="column is-full" style="font-size: 100%; font-weight: bold; color: white">
      When we look at the following figure, we see that five major factors affect if a user is going to work-out. There are uncontrollable factors such as time of day and relatively uncontrollable factors such as proximity to gym. With Stronger as the behavioral change technology, we attempt to address time of day and proximity to the gym by having our Stronger Assistant consider those factors in choosing the types of workouts the user will accomplish. 
    </p>
    <div class="column is-full" style="max-width: 75% !important;">
      <img src='assets/portfolio/health-stronger/0_causal.jpg'>
    </div>
</section>

<section #researchgoals class="section cd-section columns" style="margin-bottom:0%">
  <div class="column">
    <h3 class="subtitle">GOAL 1</h3>
    <p>Understand what affects a user’s desire to workout</p>
  </div>
  <div class="column">
    <h3 class="subtitle">GOAL 2</h3>
    <p>Understand which variables can be influenced in a behavior-change technology</p>
  </div>
  <div class="column">
    <h3 class="subtitle">GOAL 3</h3>
    <p>Design an experience that has touchpoint before, during, and after a workout</p>
  </div>
</section>

<section #lowfiproto class="columns cd-section is-centered is-multiline" style="margin-bottom:0%">
  <!--Low Fidelity Prototype-->
  <div class="column is-full" style="text-align: center;">
    <h1 class="subtitle">
        Low-Fidelity Prototyping
    </h1>
  </div>
  <div class="columns is-vcentered" style="margin:24px;">
    <div class="column collaboration" style="max-width: 30% !important;">
      <img src='assets/portfolio/health-stronger/1_lowfidel.gif' style="background: url('assets/portfolio/health-stronger/1_lowfidel.gif');">
    </div>
    <div class="column" style="">
      <!-- <h2 class="subtitle">
        Interactive Mockups
      </h2> -->
      <p style="font-size: 100%; font-weight: bold; color: white">
        Through the design of this application, I went through a couple iterations of how I wanted to scope the application. For example, Stronger is focused on strength-based workouts and workout planning has an intentional calendar week “framing”.
      </p><br>
      <p style="font-size: 100%; font-weight: bold; color: white">
        There’s “reinforcement loop“ between a 1) user seeing results and 2) desiring tailored results to see better results. Having a specifically created regiment for the user at their exercise level, weight, and age would allow for the appropriately assigned workouts. We chose to break down workouts on work-out types, sets within those work-out types and then reps within those sets. 
      </p> <br>
      <p style="font-size: 100%; font-weight: bold; color: white">
        Goal attainability is also affected by the time-of-day and location of the user. The chatbot is designed to ask for work-out area preferences. If a user is at work and there's a gym there, the user marks the location. If the user is at home (like an apartment complex) and there's a gym there, they mark it.  If the user's at home and there's no gym, the chatbot would prompt the user (via a push notification) if they wanted to shuffle and change pre-planned exercise activities to more home-appropriate exercises. 
      </p> <br>
      <p style="font-size: 100%; font-weight: bold; color: white">
        By adding these tailored features and thinking critically about goal planning and attainability, we lower the barrier of entry into completing tasks and potentially increase the user's motivation to work out. 
      </p>
    </div>
  </div>
</section>

<section #hifiproto class="columns cd-section is-centered is-multiline" style="margin-bottom:0%">
  <!--Hi-fidelity prototype-->
  <div class="column is-full" style="text-align: center;">
    <h1 class="subtitle">
        Hi-Fidelity Prototyping
    </h1>
  </div>
  <div class="columns is-vcentered" style="margin:24px;">
    
    <!-- <div class="column" style="">
      <h2 class="subtitle">
        Framer
      </h2>
      <p style="font-size: 100%; font-weight: bold; color: white">
        Through the design of this feature, I went through a couple iterations of how I wanted the notes to be listed so that the user could find them easier after taking a note. I came to the conclusion that having the notes on the left-hand side with interactions such as 1) hover and your note shows up on the visualization and 2) click and you zoom in onto your note, would have the desired effect in keeping with the projects other conventions.
      </p>
    </div> -->

    <div class="column collaboration">
      <img style="width: 50%; height: auto;" src='assets/portfolio/health-stronger/3_highfidel.gif' style="background: url('assets/portfolio/health-stronger/3_highfidel.gif');">
    </div>
    <div class="column collaboration">
      <img style="width: 50%; height: auto;" src='assets/portfolio/health-stronger/4_highfidel.gif' style="background: url('assets/portfolio/health-stronger/4_highfidel.gif');">
    </div>
    <div class="column collaboration">
      <img style="width: 50%; height: auto;" src='assets/portfolio/health-stronger/5_highfidel.gif' style="background: url('assets/portfolio/health-stronger/5_highfidel.gif');">
    </div>
  </div>
</section>

<section #playwithproto class="columns cd-section is-centered is-multiline" style="margin-bottom:0%">
  <!--Hi-fidelity prototype-->
  <div class="column is-full" style="text-align: center;">
    <h1 class="subtitle">
        Play with it yourself!
    </h1>
    <h6>
      (Takes a little bit too load)
    </h6>
  </div>
  <div class="columns is-vcentered" style="margin:24px;">
    <div class="column">
      <iframe style="width:700px;height:700px;" src="https://peaceful-hugle-d8c59a.netlify.com/">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>
  </div>
</section>

<!-- <section #takeaways class="section cd-section">
  <div class="container">
    <h1 class="subtitle" style="text-align: center;">Key Takeaways</h1>
    <div class="columns level">
      <h2 class="subtitle column" style="width:200px">
        Prototyping in low-fidelity is key
      </h2>
      <p class="subtitle column" style="font-size: 100%; font-weight: bold; color: white">I worked quite a bit in Balsamiq and React and was happy that I decided to really hammer out details in Balsamiq before moving it to React. Prototyping interactions in a flexible data visualization tool like this can be challenging because there isn’t a “typical” workflow you can realistically expect from your user.</p> 
    </div>
    
    <div class="columns level">
        <h2 class="subtitle column" style="width:200px">
          Get caught up in the weeds
        </h2>
        <p class="subtitle column" style="font-size: 100%; font-weight: bold; color: white">I was always trying to push through the prototyping phase so that I could get something that people could see. <i>Slow down!</i> I really had to learn how to think about my work in the long term and realize that what I was designing in my product needed to fit the previously defined conventions. Getting stuck and critically thinking about what to do next was important and something my product manager wanted me to learn.</p>
      </div>
  </div>
</section> -->





