<section class="intro">
  <div class="container">
    <h1>Timeline &darr;</h1>
  </div>
</section>

<section class="timeline">
  <ul>
    <li>
      <div>
        <time>2011 - 2015</time> Graduate from the University of Michigan with a Bachelor of Science in Chemical Sciences & a Focus in Global Health Informatics
      </div>
    </li>

    <li>
      <div>
        <time>2015 - 2017</time> Embark on a journey with the Peace Corps as a Community Health Extensionist in the Dominican Republic
      </div>
    </li>

    <li>
      <div>
        <time>2017 - Present</time> Co-Found Puente Desarrollo Internacional and work as Lead Developer and Designer of Mobile and Web Products
      </div>
    </li>

    <li>
      <div>
        <time>2018</time> Acknowledged in Stains, Marilyne et al. <i>Anatomy of STEM Teaching in American Universities: A Snapshot from a Large-Scale Observation Study</i> for work as Physics Education Research Assistant in 2013-2015
      </div>
    </li>

    <li>
      <div>
        <time>2018 - Present</time> Begin Graduate Program at University of Michigan in UX Research and Design
      </div>
    </li>

    <li>
      <div>
        <time>2019 - Present </time> Begin Certification Program for Health Informatics at the University of Michigan School of Information / School of Public Health
      </div>
    </li>
  </ul>
</section>