/* You can add global styles to this file, and also import other style files */

$brand-primary:#D41C20;
$brand-primary-light:#AB483B; //old
$brand-primary-alternate:rgb(215,0,82);

$brand-secondary:#10212F;
$brand-secondary-light:#5B97B7;

$brand-tertiary:#143730;


.darkBackground{
    background: $brand-secondary;
}


html{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    h1{ 
        //font-family: Jura; 
        font-family: Montserrat;
        font-size: 24px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 900; 
        line-height: 26.4px; 
        //font-weight: 100;
	    
    } 

    h2{ 
        font-family: Jura; 
        font-size: 18px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 26.4px; 
        //font-weight: 100;
	    //font-family: Montserrat;
    } 
    
    h3 { 
        font-family: Jura; 
        font-size: 14px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 15.4px; } 
    p { 
        font-family: Jura; 
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 400; 
        line-height: 20px; 
    } 
    blockquote { 
        font-family: Jura; 
        font-size: 21px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 400; 
        line-height: 30px; } 
    pre { 
        font-family: Jura; 
        font-size: 13px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 400; 
        line-height: 18.5714px; 
    }
}
